<% if folder then @folder = folder end%>
<% if @folder.children.size > 0 || @folder.pages.size > 0 %>
<ul id="folder_<%= @folder.id %>_ul">
<% for subfolder in @folder.children%>
	<li id="folder_<%= subfolder.id %>">
		<%= link_to_remote image_tag("admin/tree/closed.png") , { 
			:url => {:controller => "folder" ,
			:action => "tree_node",
			:id => subfolder.id},
			:before => "if (!tree.openFolder('#{subfolder.id}')){return false;}; loading();",
			:complete => "unloading()"} %>
		<%= link_to_remote "#{subfolder.name} (#{subfolder.children.count}/#{subfolder.pages.count})", {
			:update => "editor",
			:url => {:controller => "folder", :action => "editor", :id => subfolder.id},
			:before => "tree.setSelected(event);loading()",
			:complete => "unloading()"},
			{:oncontextmenu => "return showMenu(event, 'folder_menu')"} %>
	</li>
<% end%>
<% for page in @folder.pages %>
	<li id="page_<%= page.id %>">
		<%= image_tag "admin/tree/list.png" %>
		<%= link_to_remote page.name , {
			:update => "editor",
			:url => {:controller => "page", :action => "editor", :id => page.id},
			:before => "tree.setSelected(event);loading()",
			:complete => "unloading();editor.showTextEditor('page_html');"
			},
			:html=>{:oncontextmenu => "return showMenu(event, 'page_menu')"} %></li>
<% end %>
</ul>
<% end %>