

<% form_for(:resource, :url => { :action => "update", :id => @resource }, :html => { :multipart => true, :target => 'upload_frame' }) do |form| %>
	<%= render :partial => 'form'%>
	<% if @resource.filename != nil %>
	<p><%= image_tag @resource.public_filename('s100') %></p>
	<p><%= image_tag @resource.public_filename('s200') %></p>
	<p><%= image_tag @resource.public_filename %></p>
	<% end -%>
	<%= submit_tag 'Update'%>
<% end %>

<iframe id="upload_frame" name='upload_frame' style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
