Message: <%= @message %><br/>
<%= form_tag  '/contact_us' do%>
<p><label for="email_from">Email</label><%= text_field_tag 'email[from]', params[:email].nil? ? "": params[:email][:from] %></p>
<p><label for="email_subject">Subject</label><%= text_field_tag 'email[subject]', params[:email].nil? ? "": params[:email][:subject] %></p>
<p><label for="email_message">Message</label><%= text_area_tag 'email[message]', params[:email].nil? ? "": params[:email][:message] %></p>
<%= hidden_field_tag 'content_id', @content.id%>
<%= submit_tag "enviar", :name => nil %>
<% end -%>
