<p><label for="resource_name">Name</label><br/>
<%= text_field 'resource', 'name'  %></p>

<p><label for="resource_description">Description</label><br/>
<%= text_field 'resource', 'description'  %></p>



<p><label for="resource_source">File</label><br/>
<% if !@resource.id.nil? and @resource.source_content_type and @resource.source_content_type.include? 'image' then %>
<%= @resource.source.url%><br/>
<img src="<%=@resource.source.url(:thumb)%>"/>
<% end -%>
<%= file_field 'resource', :source %>

<br/>
content type: <%= @resource.source_content_type %><br/>
file size: <%=@resource.source_file_size%><br/>

<%= submit_tag "Salvar", :name => nil %>
<!--[eoform:page]-->

