<div id="anyware_logo">
	<div id = "animated_anyware_logo" style="display:none"><img src='/images/logo_animated_75.gif' /></div>
</div>
<div id="anysite_top"></div>
<div id="navigation_menu" class="treeview">
<ul id="any_folders" class="treeview">
	<li id="folder_<%= @homepage.id %>">
		<%= link_to_remote image_tag("admin/tree/home.png") , { :url => {:controller => "folder" ,:action => "tree_node", :id => @homepage.id},:before => "if (!tree.openFolder('#{@homepage.id}')){return false;}; loading();", :complete => "unloading()"} %>
		<%= link_to_remote @homepage.name , {:update => "editor", :url => {:controller => "folder" ,:action => "editor", :id => @homepage.id},:before => "tree.setSelected(event);loading()", :complete => "unloading()"}, {:oncontextmenu => "return showMenu(event, 'folder_menu')"} %>
	</li>
</ul>
<ul id="any_files" class="treeview">
	<li id="resource_folder_<%= @resource_home.id %>">
		<%= link_to_remote image_tag("admin/tree/home.png") , { :url => {:controller => "resource_folder" ,:action => "tree_node", :id => @resource_home.id},:before => "if (!tree.openResourceFolder('#{@resource_home.id}')){return false;}; loading();", :complete => "unloading()"} %>
		<%= link_to_remote @resource_home.name , {:update => "editor", :url => {:controller => "resourcefolder" ,:action => "edit", :id => @resource_home.id},:before => "tree.setSelected(event);loading()", :complete => "unloading()"}, {:oncontextmenu => "return showMenu(event, 'resource_folder_menu')"} %>
	</li>
</ul>
</div>


	<div id="editor_area">
		<div id="editor">
		</div>
		<div id="div_text_editor" style="visibility:hidden;display:;">
			<textarea id="text_editor" name="text_editor"></textarea>
		</div>
	</div>
	
	

	<div id="folder_menu" class="skin0" display:none>

	<div><%= link_to_remote "Nova Pasta" , :update => "editor", :url => {:controller => "folder", :action => "editor"}, :complete => "setTargetId()" %></div>
	<div><%= link_to_remote "Nova Página" , :update => "editor", :url => {:controller => "page", :action => "editor"}, :complete => "setTargetId()" %></div>
	<hr>
	<div class="menuitems" url="mailto:dynamicdrive@yahoo.com">Email Us</div>
	</div>
	
	<div id="resource_folder_menu" class="skin0" display:none>
	<div><%= link_to_remote "Novo Resource Folder" , :update => "editor", :url => {:controller => "resource_folder", :action => "editor"}, :complete => "setTargetId()" %></div>
	<div><%= link_to_remote "Novo Recurso" , :update => "editor", :url => {:controller => "resource", :action => "editor"}, :complete => "setTargetId()" %></div>
	<hr>
	<div class="menuitems" url="mailto:dynamicdrive@yahoo.com">Email Us</div>
	</div>

	<input id="selected_object" type='text' value="" style="display:none">
	<input id="right_clicked_item" type='text' value="" style="display:none">
     
	



<script type="text/javascript">
var current_object = "";

//ddtreemenu.createTree(treeid, enablepersist, opt_persist_in_days (default is 1))

//ddtreemenu.createTree("any_folders", false)
//set this variable to 1 if you wish the URLs of the highlighted menu to be displayed in the status bar
var display_url=0

var ie5=document.all&&document.getElementById
var ns6=document.getElementById&&!document.all
/*if (ie5||ns6)
var folder_menu=document.getElementById("folder_menu")

if (ie5||ns6){
//menuobj.style.display=''
//document.oncontextmenu=showmenuie5
document.onclick=hideAllMenu
}*/
document.onclick=hideAllMenu;
var menus = new Array(document.getElementById("folder_menu"), document.getElementById("resource_folder_menu"))


</script>

