
		
		
		<div id="anyware_logo">
			<div id = "animated_anyware_logo" style="display:none"><img src='/images/logo_animated_75.gif' /></div>
		</div>
		<div id="anysite_top"></div>
		<div id="navigation_menu" class="treeview">
		<ul id="any_folders" class="treeview">
			<li id="content_<%= @homepage.id %>">
				<%= link_to image_tag("admin/tree/home.png"), {:controller => "contents", :action => "tree_node", :id => @homepage.id}, :remote => true, :class => "tree_node_icon" %>
				<%= link_to @homepage.name , edit_admin_content_path(@homepage), :remote => true, :class => "tree_node" %>
			</li>
		</ul>
		<ul id="any_files" class="treeview">
			<li id="resource_folder_<%= @resource_home.id %>">
				<%= link_to image_tag("admin/tree/home.png"), {:controller => "folders", :action => "tree_node", :id => @resource_home.id}, :remote => true, :class => "tree_node_icon" %>
				<%= link_to @resource_home.name, edit_admin_folder_path(@resource_home), :remote => true, :class => "tree_node" %>
			</li>
		</ul>
		</div>


			<div id="editor_area">
				<div id="editor">
				</div>
				<div id="div_text_editor" style="visibility:;display:;">
					<textarea id="text_editor" name="text_editor"></textarea>
				</div>
			</div>




			<div id="folder_menu" class="skin0" display:none>

			<div><%= link_to "Nova Pasta" , :update => "editor", :url => {:controller => "folder", :action => "editor"}, :complete => "setTargetId()" %></div>
			<div><%= link_to "Nova Página" , :update => "editor", :url => {:controller => "page", :action => "editor"}, :complete => "setTargetId()" %></div>
			<hr>
			<div class="menuitems" url="mailto:dynamicdrive@yahoo.com">Email Us</div>
			</div>

			<div id="resource_folder_menu" class="skin0" display:none>
			<div><%= link_to "Novo Resource Folder" , :update => "editor", :url => {:controller => "resource_folder", :action => "editor"}, :complete => "setTargetId()" %></div>
			<div><%= link_to "Novo Recurso" , :update => "editor", :url => {:controller => "resource", :action => "editor"}, :complete => "setTargetId()" %></div>
			<hr>
			<div class="menuitems" url="mailto:dynamicdrive@yahoo.com">Email Us</div>
			</div>

			<input id="selected_object" type='text' value="" style="display:none">
			<input id="right_clicked_item" type='text' value="" style="display:none">


