<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Admin</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "admin/anysite" %>
	<%= stylesheet_link_tag "admin/tabs" %>
	<%= javascript_include_tag "Tree" %>
	<%= stylesheet_link_tag "simpletree" %>
	<%= javascript_include_tag "context_menu" %>
	<%= javascript_include_tag "tabs" %>
	<script type="text/javascript">
	    _editor_url  = "/javascripts/admin/xinha/"  // (preferably absolute) URL (including trailing slash) where Xinha is installed
	    _editor_lang = "en";      // And the language we need to use in the editor.
	    _editor_skin = "silva";   // If you want use a skin, add the name (of the folder) here
	</script>
	<%= javascript_include_tag "admin/xinha/XinhaCore" %>
	<%= javascript_include_tag "admin/xinha/AdminXinhaConfig" %>
	<%= stylesheet_link_tag "context_menu" %>
</head>
<body onload="init_admin();">

<%= yield  %>


</body>
</html>