<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Anysite - Admin</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "admin/anysite" %>
	<%= stylesheet_link_tag "admin/tabs" %>
	<%= stylesheet_link_tag "simpletree" %>
	<%= stylesheet_link_tag "context_menu" %>
	<%= javascript_include_tag "admin/Editor" %>
	<%= javascript_include_tag "Tree" %>
	<%= javascript_include_tag "context_menu" %>
	<%= javascript_include_tag "admin/Tab" %>
	<%= javascript_include_tag "admin/tiny_mce/tiny_mce.js" %>
	<%= csrf_meta_tag %>
</head>
<body onload="init_admin();">

<%= yield  %>
</body>
</html>