<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="shortcut icon" href="favicon.png" type="image/png" />
	<title>:. Anysite Lite .:</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "site/site.css" %>
	<%= stylesheet_link_tag "site/cssmenus" %>
	<%= javascript_include_tag "site/cssmenus" %>
	<!--[if gte IE 5.5]>
	<%= javascript_include_tag "site/cssmenus" %>
	<![endif]-->
</head>
<body>
	<div id="main">
		<%= render :partial => '/site/templates/default/top' %>
		<div id="menu">
			<ul id="navmenu-h">
				<%= render :partial => 'menu', :locals  => {:contents  => @content.children} %>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<br clear="all"/>
		<div id="bottom">
			<div id="corpright">Anyware Technologies 2007-2011 © All Rights Reserved - Powered by Anysite</div>
		</div>
	</div>
</body>
</html>